.friendsPage{
display: grid;
    grid-template-areas:
'onlineOfflineFriendsBlock'
'searchFriends'
'friendList';
    padding: 1px;
}
.onlineOfflineFriendsBlock{
grid-area: onlineOfflineFriendsBlock;
    text-align: left;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #adafaf;
    margin: 1px;
    padding: 3px;
}
.searchFriends{
grid-area:searchFriends ;
    text-align: center;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #adafaf;
    margin: 1px;
}
.friendList{
grid-area:friendList ;
    text-align: center;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #adafaf;
    margin: 1px;
}