.generalSettings{
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "H H"
    "N C"
    "F F";
  grid-template-columns: 2fr 10fr;



}
.Header-wrapper{
  grid-area: H;
  background-color: white;
  margin: 1px;
}
.Header{
  margin: 7px;
  border-style: solid;
  border-color: rgba(81, 81, 84, 0.4);
  border-radius:5px ;
  border-width: 1px;
}

.NavBar-wrapper {
  grid-area: N;
  text-align: center;
  background-color: white;
  margin: 1px;
  padding: 5px 5px 5px 5px;

}
.NavBar{
  margin: 4px;
  border-style: solid;
  border-color: rgba(81, 81, 84, 0.4);
  border-radius:5px ;
  border-width: 1px;
  height: 920px;



}
.Content-wrapper{
  grid-area: C;
  background-color: white;
  margin: 1px;
  padding: 5px 5px 5px 5px;
}
.Content{
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-color: rgba(81, 81, 84, 0.4);
  border-radius:5px ;
  border-width: 1px;
}
.Footer-wrapper{
  grid-area: F;
  pading: 5px;
  text-align: center;
  background-color: white;
  margin: 1px;
}
.Footer{
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-color: rgba(81, 81, 84, 0.4);
  border-radius:5px ;
  border-width: 1px;
}
a{
  text-decoration: none;
  color: black;
}

/* .AppReducer-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .AppReducer-link {
  color: #61dafb;
} */

