.mouseEnter{
    margin: 1px;
    background-color: #adafaf;
    border-style: solid;
    border-color: rgba(81, 81, 84, 0.4);
    border-radius:5px ;
    border-width: 1px;

}
.mouseLeave{
    margin: 1px;
    border-style: solid;
    border-color: rgba(81, 81, 84, 0.4);
    border-radius:5px ;
    border-width: 1px;

}